<div class="container">
  <div class="row">
    <h2>New book</h2>
     <%= form_with model: Book.new, url: books_path do |f| %>

      <p>Title</p>
      <%= f.text_field :title %>

      <p>Body</p>
      <%= f.text_area :body %>

      <%= f.submit 'Create book', class: "bg-success text-white border-0 rounded p-1" %>
     <% end %>
  </div>
</div>
